@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
//color
$bg-color: #807269;
$bg2-color: #d1c7ba;
$li-color: #E7DBCA;
$ct-color: #f7f1e9;
$border-color: #332b28;

//animate
@keyframes shakeleft {
    0% { transform: translate(1px, 1px) rotate(0deg) scaleX(-1);}
    10% { transform: translate(-1px, -2px) rotate(-1deg) scaleX(-1); }
    20% { transform: translate(-3px, 0px) rotate(1deg) scaleX(-1); }
    30% { transform: translate(3px, 2px) rotate(0deg) scaleX(-1); }
    40% { transform: translate(1px, -1px) rotate(1deg) scaleX(-1); }
    50% { transform: translate(-1px, 2px) rotate(-1deg) scaleX(-1); }
    60% { transform: translate(-3px, 1px) rotate(0deg) scaleX(-1); }
    70% { transform: translate(3px, 1px) rotate(-1deg) scaleX(-1); }
    80% { transform: translate(-1px, -1px) rotate(1deg) scaleX(-1); }
    90% { transform: translate(1px, 2px) rotate(0deg) scaleX(-1); }
    100% { transform: translate(1px, -2px) rotate(-1deg) scaleX(-1); }
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg);}
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}
@keyframes liColor{
    65%,100%{
        background-color: $bg2-color;
    }
}

*{
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $bg-color;
    font-family: "Noto Sans TC", sans-serif;
    font-size: 18px;
}

ul,li{
    padding: 0;
    list-style: none;
}

h2{
    margin: 0;
    margin-bottom: 10px;
}

img{
    max-width: 100%;
    height: auto;
}

button{
    cursor: pointer;
    border: 1px solid $border-color;
    border-radius: 8px;
    padding: 12px 16px;
    display: flex;
    font-size: 1.3rem;
    
}

ul.option{
    cursor: pointer;
    display: flex;
    justify-content:center;
    column-gap: 15px;
    height: 30px;
    width: auto;

    & > li{
        display: inline-flex;
        padding: 18px 20px;
        border: 1px solid $border-color;
        border-radius: 10px;

        i.fa-regular{
            color: $border-color;
        }
    }
}

.container{
    background-color: $ct-color;
    border-radius: 12px;
    width: 85%;
    height: 92%;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding: 30px;
    padding-top: 15px;

    .computer,.player{
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .result-computer,.result-player{
        width: 90%;
        height: 75%;
        background-color: $bg2-color;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 12px;
        img{
            height: 95%;
        }
    }

    .computer {
        img{
            animation: shakeleft 1s infinite;
        }
        ul.option{
            cursor: auto;
            li.option-0{
                animation: liColor 1.5s 0s step-end infinite;
            }
            li.option-1{
                animation: liColor 1.5s .5s step-end infinite;
            }
            li.option-2{
                animation: liColor 1.5s 1s step-end infinite;
            }
        }
    }
    
    .player{
        img{
            // animation: shake 1s infinite;
        }
        ul.option > li:hover{
            background-color: $bg2-color;
        }
    }
}

.bottom{
    width: 80%;
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    button.start{
        display: inline-flex;
        align-items: center;
        height: 90%;
        background-color: $ct-color;
        font-family: "Noto Sans TC", sans-serif;
        padding: 12px 20px;
        &:hover{
            // background-color: $bg2-color;
            box-shadow: 0px 3px 1px $border-color;
        }
    }
}

//指令
.selectedC{
    animation: none !important;
    transform: scaleX(-1) ;
}
.liColorClear{
    animation: none !important;
}


@media screen and (max-width:1200px){
    body {
        justify-content: center;
    }
    .container{
        height: 60%;
        align-items: center;
        .computer, .player{
            width: 80%;
            height: 55%;
        }
    }
}
@media screen and (max-width:700px){
    body {
        justify-content: center;
    }
    .container{
        height: 90%;
        align-items: center;
        flex-direction: column;
        .computer {
            margin-bottom: 10px;
        }
        .computer, .player{
            width: 80%;
            height: 40%;
            h2 {
                font-size: 1.4rem;
            }
        }
    }
}